* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
 list-style: none;
}
html {
  width: 100%;
  max-width: 90rem;
}
.header {
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}
.container {
  width: 100%;
  max-width: 62rem;
  height: 100dvh;
  margin: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 1.813rem 0;
}
.header-logo h2 {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
}
.header-nav ul {
  display: flex;
  gap: 1.313rem;
}
.header-nav ul a {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
}
.header-nav li a img {
  width: 0.75rem;
  height: 0.75rem;
}
.header-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
}
.header--info h4 {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.header--info h1 {
  color: #FFF;
  font-size: 3.625rem;
  font-weight: 600;
}
.header--info-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header--info--btn {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 2.313rem;
  background-color: #FF7B47;
  padding: 0.625rem 1.5rem;
}
.header---info---btn {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 500;
  border: solid 1px #FFF;
  border-radius: 2.313rem;
  background-color: transparent;
  padding: 0.625rem 1.5rem;
}
.header-info-card {
  background-color:#FFF;
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 65.563rem;
  height: 6rem;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top:33rem;
}
.header-info--card {
  display: flex;
  gap: 1rem;
  padding: 1.25rem 2.688rem;
}
.header-info--card img {
  width: 3rem;
  height: 3rem;
}
.header-info--card strong {
  color: #252B42;
  font-size: 1.5rem;
  font-weight: 500;
}
.header-info--card p {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
}

/*Main*/
.main {
  background-color: #252B42;
  position: relative;
}
.main-card {
  display: flex;
  gap: 1.875rem;
  width: 100%;
  width: 65.625rem;
  height: 28.125rem;
  padding-top: 16rem;
}
.main--card {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  width: 14.875rem;
  height: 18.125rem;
}
.main---card {
  background-color: #0D5C63;
  display: flex;
  flex-direction: column;
  width: 14.875rem;
  height: 18.125rem;
}
.main--card img, .main---card img {
  width: 3rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.main--card span {
  color: #252B42;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 1rem;
}
.main---card span {
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: 1rem;
}
.main--card p {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 1rem;
}
.main---card p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: 1rem;
}
.main--card button {
  color: #0D5C63;
  font-size: 0.8rem;
  font-weight: 300;
  border: solid 1px #0D5C63;
  border-radius: 2.313rem;
  background-color: transparent;
  padding: 0.625rem 1.2rem;
  display: block;
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 1rem;
}
.main---card button {
  border-radius: 2.313rem;
  background-color: #FFF;
  border: none;
  color: #0D5C63;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.625rem 1.2rem;
  display: block;
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 1rem;
}
.main--card button img, .main---card button img {
  margin-top: 0.25rem;
  width: 1rem;
  height: 0.625rem;
}
.main-section {
  margin-top: 20rem;
}
.main-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main-section-info h2 {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
}
.main-section-info p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 300;
}
.main--section-info {
  display: flex;
  justify-content: center;
  gap: 7rem;
  width: 100%;
  width: 65.625rem;
  margin-top: 6.25rem;
}
.main--section-info-img img {
  width: 25rem;
}
.main--section-info-texto {
  margin-top: 1.375rem;
}
.main--section-info-texto h3 {
  color: #FFF;
  font-size: 1.6rem;
}
.main--section-info-texto p {
  color: #FFF;
  font-size: 0.6rem;
  font-weight: 300;
  margin-top: 0.625rem;
}
.main--section-info--texto {
  display: flex;
  gap: 1.25rem;
}
.main--section-info--texto img {
  height: 2rem;
  margin-top: 1.875rem;
}
.main--section-info--texto p {
  margin-top: 1.875rem;
}
.section-clientes {
  background-color: #17213C;
  min-height: 42.375rem;
}
.section-clientes-info {
  padding-top: 5rem;
}
.section-clientes-info h3 {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.section-clientes-info p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.625rem;
}
.section-clientes-info-cards {
  display: flex;
  gap: 2rem;
}
.section--clientes-info-cards {
  background-color: #FFF;
  width: 20rem;
  height: 16rem;
  margin-top: 5.625rem;
}
.section--clientes--info-cards {
 display: flex;
 gap: 2rem;
}
.section--clientes--info--cards {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}
.section--clientes-info-cards-img img {
  margin-top: 1.25rem;
  width: 4rem;
  margin-left: 1rem;
}
.section--clientes--info--cards strong {
  color: #252B42;
  font-size: 1.5rem;
  font-weight: 400;
}
.section--clientes--info--cards span {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.6rem;
}
.section--clientes-info-cards p {
  color: #737373;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.6rem;
  margin-left: 1rem;
}
.section--clientes--info--cards-img {
  width: 5rem;
  margin-top: 0.4rem;
}

/*Section Team*/
.section-team {
  background-color: #252B42;
  height: 100rem;
}
.section--team {
 margin-bottom: 8rem;
}
.section-team-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-team-info h3 {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
}
.section-team-info p {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 200;
  margin-top: 0.625rem;
}
.section-team-card {
  display: flex;
  gap: 2.125rem;
  margin-top: 3.125rem;
}
.section--team-card {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 14.875rem;
  height: 18.1875rem;
  text-align: center;
}
.section--team-card img {
  width: 6rem;
  display: block;
  margin: 1.8rem auto;
}
.section--team-card span {
  color: #FF7B47;
  font-size: 0.875rem ;
  font-weight: 400;
  margin-top: -1.4rem;
}
.section--team-card strong {
  color: #252B42;
  font-size: 1rem ;
  font-weight: 500;
  margin-top: 0.4rem;
}
.section--team-card p {
  color: #252B42;
  font-size: 0.875rem ;
  font-weight: 200;
  margin-top: 0.4rem;
}

/*Section Quote*/
.section-quote {
  margin-top: 3.125rem;
}
.section-quote-container {
  display: flex;
  gap: 10rem;
}
.section-quote-titulo h3 {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
}
.section-quote-titulo p {
  color: #FFF;
  font-size:0.875rem;
  font-weight: 200;
  margin-top: 0.875rem;
}
.section--quote {
  width: 65.75rem;
  height: 40.25rem;
}